body {
  font-family: 'Montserrat', sans-serif;
  padding: 24px;
  color: #2e2f42;
  line-height: 1.5;
  letter-spacing: 0.04em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 32px;
}

.wrap-photos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
  padding-bottom: 32px;
}

.photo {
  border: 1px solid #808080;
  opacity: 0;
  transform: translateY(50px);
  transition: all 250ms ease-in-out;
}

.photo.active {
  opacity: 1;
  transform: translateY(0);
}

.photo:is(:hover, :focus) {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  transform: scale(1.04);
}

a > img {
  object-fit: cover;
}

.list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
}

.value {
  font-size: 12px;
  line-height: 2;
}

.list-value {
  display: flex;
  justify-content: space-between;
  padding: 4px 20px;
}

input {
  padding: 0 16px;
  width: 272px;
  height: 40px;
  outline: none;
  font-weight: 400;
  font-size: 16px;
  border-radius: 4px;
  color: #2e2f42;
  border: 1px solid #2e2f42;
  transition: all 250ms ease-in-out;
}

input:is(:hover, :focus) {
  border-color: #4e75ff;
}

button {
  border-radius: 8px;
  padding: 8px 16px;
  width: 91px;
  height: 40px;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  background-color: #4e75ff;
  border: none;
  transition: all 250ms ease-in-out;
}

button:hover {
  background-color: #6c8cff;
}

.loader {
  width: 30px;
  height: 30px;
  border: 3px solid;
  border-color: #ff3d00 transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.custom-toast-width {
  width: 400px !important;
}

.btm-more {
  display: none;
  align-items: center;
  justify-content: center;
  opacity: 0;
  width: 120px;
  transition: all 250ms ease-in-out;
}

.btm-more-active {
  display: flex;
  opacity: 1;
}
